.container{
    height: 620px;
    width: 620px;
    background:rgba(97, 97, 97, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
}

.container input{
    padding: 5px;
    width: 80%;
    margin: 15px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 5px black;
    font-size: 25px;
}
.container button{
    border: none;
    font-size: 25px;
    background-color: transparent;
}
.city{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.city h1{
    font-size: 50px;
}
.city img{
    height: 150px;
}
.weather{
    display: flex;
    flex-direction: column;
}
.weather h1{
    font-size: 50px;
    margin: 0;
}
.weather-desc{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;

}
.weather-info{
    flex: 1 0 calc(25% - 10px);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box;
    flex-direction: column;
}
.weather-info h2,.weather-info i{
    font-size: 30px;
}
.weather-info img{
    height: 35px;
}

@media (max-width: 768px) {
    .container {
        height: 90%;
        width: auto;
    }
    .container input{
        width: 90%;
    }
    .city {
        flex-direction: column;
        align-items: center;
    }

    .city h1 {
        font-size: 40px;
    }

    .city img {
        height: 100px;
    }

    .weather h1 {
        font-size: 40px;
    }

    .weather-desc {
        flex-direction: column;
    }

    .weather-info {
        flex: 1 0 100%;
        margin-bottom: 10px;
    }

    .weather-info h2, .weather-info i {
        font-size: 25px;
    }

    .weather-info img {
        height: 30px;
    }
}

/* @media (max-width: 480px) {
    .container input {
        width: 100%;
        font-size: 20px;
    }

    .container button {
        font-size: 20px;
    }

    .city h1 {
        font-size: 30px;
    }

    .city img {
        height: 80px;
    }

    .weather h1 {
        font-size: 30px;
    }

    .weather-info h2, .weather-info i {
        font-size: 20px;
    }

    .weather-info img {
        height: 25px;
    }
} */